{% extends "layout.html" %}
{% block header %}
{{ super() }}
<title>{{ chat.ac.u1}} & {{ chat.ac.u2 }}</title>
{% endblock %}
{% block content %}
    {% if chat.mm.get_messages(chat.ac) %}
        <div>
            {% for message in chat.mm.get_messages(chat.ac) %}
                <li>{{ message.text }}</li>
            {% endfor %}
        </div>
    {% endif %}
    
    <form action="/chat" method="POST">
        <input type="text" name="message">
        <input type="submit" value="Lähetä">
    </form>

{% endblock %}