<!DOCTYPE html>
<html>
    <head>
        {% block head %}
        <title>{% block title %}{% endblock %} - ChatIDK</title>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class=flashes>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
        {% endblock %}
    </head>

    <nav>
        <h1>ChatIDK</h1>
        <ul>
            {% if session.username %}
                <li><span>{{ session["username"] }}</span>
                <form action="/logout" method="GET">
                    <input type="submit" value="Kirjaudu ulos">
                </form>
                <form action="/deactivate" method="GET">
                    <input type="submit" value="Poista tili">
                </form>
            {% else %}
                <form action="/login" method="GET">
                    <input type="submit" value="Kirjaudu">
                </form>
                <form action="/register" method="GET">
                    <input type="submit" value="Rekisteröidy">
                </form>
            {% endif %}
        </ul>
    </nav>
<section class=""content>
    <body>
        <header>
            {% block header %}{% endblock %}
        </header>
        {% block content %}
            
        {% endblock %}
    </body>
</section>
</html>